  body {
            /*background: url(../../Content/images/Icon/LoginBg.svg) no-repeat center center fixed;
            background-size: cover;
            height: 100%;
            overflow-y: scroll;*/
            background-color:#feec61;
            background: url(../Content/images/Icon/LoginBg.png) no-repeat center center fixed;
            background-size: cover;
            width:100%;
            height: 100%;
            overflow-y: scroll;
        }

        .ui.form .input .label {
            border-right: 0;
            border-color: #e3e3e3;
        }

        #LoginForm {
            background-color: #f0f0f0;
            width: 50%;
            min-height: 100%;
            color:blue;
            .BDC_CaptchaDiv{
             min-width:250px;
           }
        }

        #LogoDiv {
            background: url(../Content/images/assets/logo_bg.png) no-repeat center center fixed;
            background-size: cover;
            height:100%;
            /*background: url(../../Content/images/assets/logo_bg.svg) no-repeat center center fixed;*/
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            /*background-size: cover;
            height: 100%;*/
        }

            #LogoDiv img {
                width: 37.92%;
                display: block;
                margin: 0 auto;
                margin-top: 5.38vh;
                margin-bottom: 10.99vh;
            }

            #LogoDiv .logoTitle {
                border: 8px solid #565656;
                border-top: 0;
                border-bottom: 0;
                width: 45.21%;
                text-align: center;
                font-weight: bolder;
                color: #565656;
                font-size: 1.3vw;
                height: 3vh;
                margin: auto;
                margin-top: 11.11vh;
            }

        .maincolumn {
            margin-top: 18.33vh;
            height: 57.34vh;
        }

            .maincolumn .ui.grid .column:nth-of-type(1) {
                background-color: #f0f0f0;
            }

            .maincolumn .ui.grid .column:nth-of-type(2) {
                background-color: #feec61;
            }

        @media screen and (min-width: 766px) {
            #LoginForm input[type="password"]{
                width:calc(100% - 120px);
            }
            footer {
                width: 100%;
                height: 5vh;
                position: absolute;
                bottom: 5vh;
                left: 0;
            }

                footer .ui.header {
                    color: #ffffff;
                }
        }

        @media screen and (max-width: 766px) {
            footer {
                width: 100%;
                height: 5vh;
                position: absolute;
                top: 0;
                left: 0;
            }

                footer .ui.header {
                    color: #203a68;
                    font-size: 1.2rem;
                }
        }

        @media screen and (max-width:746.5px) {
            #LoginForm form {
                margin-top: 8vh;
            }
        }
          #LoginForm form {
        min-height: 100%;
        font-size: 1.1rem;
    }

        #LoginForm form .field:nth-of-type(1) {
            margin-top: 3.23vh;
        }

        #LoginForm form .field:nth-of-type(2), #LoginForm form .field:nth-of-type(3) {
            margin-top: 2.39vh;
        }

        #LoginForm form .field:nth-of-type(3) {
            font-size: 1.3rem !important;
        }

    input.validateNo {
        background-color: #aaaaaa !important;
        font-weight: bolder !important;
        text-align: center;
    }

    #LoginForm form a {
        color: #5a5a5a;
        text-decoration: underline;
        font-size: 1.3rem;
        margin-top: 4.78vh;
    }
     @media screen and (max-width:746.5px) {
            #LoginForm  {
                .BDC_CaptchaDiv{
                      width:100%;
                   }
            }
        }
  /* IE10 and IE11*/
/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {*/
	/*body{
        background-color:#feec61;
       background: url(../../Content/images/Icon/LoginBg.png) no-repeat center center fixed;
            background-size: cover;
            width:100%;
            height: 100%;
            overflow-y: scroll;
     	}
     #LogoDiv {
            background: url(../../Content/images/assets/logo_bg.png) no-repeat center center fixed;
            background-size: cover;
            height:100%;
        }
     #LoginForm {
         .BDC_CaptchaDiv{
             min-width:250px;
         }
     }*/
      /*@media screen and (max-width:746.5px) {
            #LoginForm  {
                .BDC_CaptchaDiv{
                      width:100%;
                   }
            }
        }*/
/*}*/