<table class="ui stackable selectable celled striped table center aligned">
    <thead>
        <tr>
            <th>日期</th>
            <th>電話</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2018-07-31 AM 10 :00</td>
            <td>0926-617-227</td>
        </tr>
        <tr>
            <td>2018-07-31 AM 10 :00</td>
            <td>0926-617-227</td>
        </tr>
        <tr>
            <td>2018-07-31 AM 10 :00</td>
            <td>0926-617-227</td>
        </tr>
    </tbody>
</table>
