<div class="ui stackable grid">
    <div class="sixteen wide column right floated right aligned">
        <div class="row">
            <form id="exportForm">
                <select class="ui dropdown" id="exportType">
                    <option value="Excel">Excel</option>
                    @*<option value="Pdf">Pdf</option>*@
                </select>
                <button class="ui facebook button" type="submit">輸出</button>
                @*<button class="ui grey button" type="button" id="PrintBtn">Print</button>*@
                </form>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="ui search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="請輸入關鍵字" id="SearchWord">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>

    </div>
</div>

