@{
    Layout = null;
}

<div class="ui tiny modal" id="ChangePasswordModal">
    <div class="header">
        變更密碼
    </div>
    <div class="content">
        <form id="ChangePasswordForm" method="post" class="ui form">
            <div class="three fields">
                <div class="field">
                    <label>密碼*</label>
                    <input type="text" id="ChangePassword"/>
                    
                </div>

                <div class="eight wide field">
                    <label>提示</label>
                    <label>*請輸入6碼以上且英數交雜之密碼</label>
                </div>
            </div>

            <div class="actions">
                <button class="ui button red" type="reset" id="resetCPBtn">重填</button>
                <button type="button" class="ui grey cancel button">取消</button>
                <button type="submit" class="ui teal ok button">確定</button>
            </div>
        </form>
    </div>

</div>
